@import 'config';
@import 'menu';


* {
    box-sizing: border-box;
}

body {
    background: $home-image;
    color: set-text-color($primary-color);
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;

}

.about-me{
    margin-bottom:20vh;
    

    .about-me-border{
        position: relative;
        margin-bottom: 50px;
        top: 125px;
        height: 400px;
        width: 100%;
        border: 4px solid white;
        grid-template-areas: 'about-me-img' 'about-me-text';
        grid-template-columns: 1fr;
        background-color: darken($grey, 20%);
        opacity: .8;
        
    }

    .about-me-img{
        float: left;
        margin: 40px 20px 20px 20px;

    }

    .about-me-text{
        margin: 40px 20px 20px 20px;
        float: break;
    }



}

.banner {
    background-color: darken($grey, 20%);
    opacity: .8;
}






//headings

h1, h2, h3{
    margin: 0;
    font-weight: 400;

    

    &.lg-heading {
        font-size: 6rem;
        
        
    }

    &.sm-heading {
        font-size: 2rem;
        padding-top: 1rem;
    }

    span{
        
        &.heading-text{
            border-bottom: 3px solid currentColor;
            display: inline-block;
            line-height: 0.90;
        }
    }
}

a {
    color:#fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.heading-border {
    border: 4px solid currentColor;
    padding: 4rem;
    margin-top: 15vh;
   

}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 2rem;
    min-height: calc(100vh - 60px);


    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &.home {
        overflow: hidden;
    }
}

//My Work page css
.projects {
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    

    img {
        width:100%;
        border: 3px white solid;

        &:hover{
            opacity: .05;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

/* Create three equal columns that floats next to each other */
.column {
    margin: 15px;
    border: 1px solid white;    
    float: left;
    width: 30%;
    padding: 10px;
    height:400px; /* Should be removed. Only for demonstration */

    background-color: $white;
    color: black;
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .card-border {
        border: 5px solid black;
        margin:2px;
        padding:20px;
        height:100%;

        h2 {
            margin: 10px;
        }

        a {
            color: black;
            margin: 50px;

            &:hover {
                color: $primary-color;
            }

        }
        
  }

//button styles 

.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover {
        background: $secondary-color;
        color: set-text-color ($secondary-color);


    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}


#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'mobile';